{% extends 'nav.html' %}
{% block content %}

<h1>About</h1>
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero, dolorem repudiandae a facilis voluptatum inventore eos illum fugit, veritatis in aperiam velit! Repudiandae soluta praesentium molestiae quas, ducimus quae reiciendis!
Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis commodi quos quasi ipsum explicabo fuga, voluptate odio laboriosam sapiente impedit aperiam, doloremque odit ratione beatae praesentium, mollitia ex vero tenetur?
Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora alias rem accusantium exercitationem! Quia soluta eum autem, consequuntur blanditiis unde architecto. Minus quas dolores perferendis totam, iure tempore nemo rem?
{% endblock %}