{% extends 'nav.html' %}
{% block content %}
<main class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1 class="text-center display-3 py-5"> Tarea: {{ task.title }}</h1>
            {{error}}
            
            <form method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <button class="btn btn-dark">Save</button>
            </form>

<form action="{% url 'tasks2' %}" method="POST">
    {% csrf_token %}
    <button class="btn btn-dark btn-dark">Volver</button>
</form>

<form action="{% url 'tareaCompleta' task.id %}" method="POST">
    {% csrf_token %}
    <button class="btn btn-secondary">Tarea completada</button>
</form>


<form action="{% url 'tareaEliminar' task.id %}" method="POST">
    {% csrf_token %}
    <button class="btn btn-secondary">Eliminar Tarea</button>
</form>

{% endblock %}